apiVersion: v1
kind: Namespace
metadata:
  name: moneyflow-system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: moneyflow-pod
  namespace: moneyflow-system
spec:
  selector:
    matchLabels:
      app: moneyflow
  template:
    metadata:
      labels:
        app: moneyflow
    spec:
      dnsPolicy: ClusterFirstWithHostNet
      hostNetwork: true
      terminationGracePeriodSeconds: 60
      containers:
      - name: moneyflow-api
        image: moneyflow-api-image
        ports:
        - name: moneyflow-api
          containerPort: 3030
        - name: moneyflow-debug
          containerPort: 4040
        readinessProbe: # readiness probes mark the service available to accept traffic.
          httpGet:
            path: /debug/readiness
            port: 4040
          initialDelaySeconds: 15
          periodSeconds: 15
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 2
        livenessProbe: # liveness probes mark the service alive or dead (to be restarted).
          httpGet:
            path: /debug/liveness
            port: 4040
          initialDelaySeconds: 30
          periodSeconds: 30
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 2
        env:
        - name: KUBERNETES_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: KUBERNETES_PODNAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: KUBERNETES_NAMESPACE_POD_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        - name: KUBERNETES_NODENAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
---
apiVersion: v1
kind: Service
metadata:
  name: moneyflow-service
  namespace: moneyflow-system
spec:
  type: ClusterIP
  selector:
    app: moneyflow
  ports:
  - name: moneyflow-api
    port: 3000
    targetPort: moneyflow-api
  - name: moneyflow-debug
    port: 4000
    targetPort: moneyflow-debug
