apiVersion: v1
kind: Namespace
metadata:
  name: moneyflow-system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: moneyflow-pod
  namespace: moneyflow-system
spec:
  selector:
    matchLabels:
      app: moneyflow
  template:
    metadata:
      labels:
        app: moneyflow
    spec:
      dnsPolicy: ClusterFirstWithHostNet
      hostNetwork: true
      terminationGracePeriodSeconds: 60
      containers:
      - name: moneyflow-api
        image: moneyflow-api-image
        ports:
        - name: moneyflow-api
          containerPort: 3000
        - name: moneyflow-debug
          containerPort: 4000
---
apiVersion: v1
kind: Service
metadata:
  name: moneyflow-service
  namespace: moneyflow-system
spec:
  type: ClusterIP
  selector:
    app: moneyflow
  ports:
  - name: moneyflow-api
    port: 3000
    targetPort: moneyflow-api
  - name: moneyflow-debug
    port: 4000
    targetPort: moneyflow-debug
